<ion-header>
  <ion-navbar color="primary">
    <ion-title>Produtos da lista #{{ idLista }}</ion-title>
  </ion-navbar>

  <ion-toolbar color="secondary">
    <ion-title text-center>{{ nomeLista }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- Lista -->
  <ion-list>
    <ion-item *ngIf="listas.length == 0">
      Nenhum produto cadastrado.
    </ion-item>

    <ion-item-sliding *ngFor="let lista of listas; let i = index" #slidingItem>
      <ion-item>
        <h2>{{ lista.codBarra }}</h2>
        <p>{{ lista.descricao }}</p>
        <ion-note item-right>Quantidade:<br>{{ lista.quantidade }}</ion-note>
      </ion-item>

      <ion-item-options side="right" icon-left>
        <button ion-button color="information" (click)="updateProduto(lista)">
          <ion-icon name="create"></ion-icon>
          Editar
        </button>
        <button ion-button color="danger" (click)="deleteProduto(lista, i, slidingItem)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Botão Adicionar flutuante -->
  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="insertProduto()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
