<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{textTitlePage}}</ion-title>

    <ion-buttons right>
      <button ion-button (click)="getBarcode()" *ngIf="tipo == 'insert'">
        <ion-icon name="md-barcode"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form novalidate [formGroup]="myForm" (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label stacked>Código de Barra</ion-label>
        <ion-input type="number" formControlName="codBarra" [value]="valueCodBarra"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('codBarra').errors && myForm.get('codBarra').dirty">
        <p *ngIf="myForm.get('codBarra').hasError('required')">Campo é obrigatório</p>
        <p *ngIf="myForm.get('codBarra').hasError('minlength')">Mínimo 4 caracteres</p>
        <p *ngIf="myForm.get('codBarra').hasError('maxlength')">Máximo 13 caracteres</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Descrição do Produto</ion-label>
        <ion-input type="text" formControlName="descricao" [value]="valueDescricao"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('descricao').errors && myForm.get('descricao').dirty">
        <p *ngIf="myForm.get('descricao').hasError('required')">Campo é obrigatório</p>
        <p *ngIf="myForm.get('descricao').hasError('maxlength')">Máximo 50 caracteres</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Quantidade Estoque</ion-label>
        <ion-input type="number" formControlName="quantidade" [value]="valueQuantidade"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('quantidade').errors && myForm.get('quantidade').dirty">
        <p *ngIf="myForm.get('quantidade').hasError('required')">Campo é obrigatório</p>
      </ion-item>
    </ion-list>

    <button ion-button block type="submit" [disabled]="myForm.invalid">{{textSubmitButton}}</button>
  </form>
</ion-content>
