<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Estoque Certo</ion-title>
  </ion-navbar>

  <ion-toolbar color="secondary">
    <ion-title text-center>Minha Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- Refresher -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Lista -->
  <ion-list>
    <ion-item *ngIf="listas.length == 0">
      Nenhuma lista cadastrada
    </ion-item>

    <ion-item-sliding *ngFor="let lista of listas; let i = index" #slidingItem>
      <ion-item (click)="openLista(lista)">
        <h2>{{ lista.nome }}</h2>
        <p>{{ lista.descricao }}</p>
      </ion-item>

      <ion-item-options side="right" icon-left>
        <button ion-button color="danger" (click)="deleteLista(lista, i, slidingItem)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Botão Adicionar flutuante -->
  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="openAlertNewLista()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
